/achievements/
/asteroids/
/buttons/
/colorblind/
/combatUI/
/customizeUI/
/effects/
/icons/
/ipad/
/main_menus/
/map/
/misc/
/mouse/
/numbers/
/optionsUI/
/people/
/scoreUI/
/ship/
/ships_glow/
/ships_noglow/
/stars/
/statusUI/
/storeUI/
/systemUI/
/tutorial/
/ui_icons/
/upgradeUI/
/warnings/
/weapons/
/wireUI/
/arrow_head.png
/autopause.png
/bar_weapon_minibox_glow.png
/box_drones_bottom.png
/box_drones_bottom3.png
/box_drones_bottom4.png
/box_options_configure_tab.png
/box_subsystems4.png
/box_text_sectors.png
/box_weapons_autofire_off.png
/box_weapons_autofire_on.png
/box_weapons_autofire_select.png
/box_weapons_bottom.png
/box_weapons_bottom2.png
/box_weapons_bottom3.png
/glow.png
/help_screen_overlay.png
/Missile.png
/nullResource.png
/optionsUI_new.png
/pause_crewselection.png
/pause_doors.png
/pause_hacking.png
/pause_large_base.png
/pause_large_off.png
/pause_large_on.png
/pause_large_select2.png
/pause_mind.png
/pause_roomselection.png
/pause_target_beam.png
/pause_target.png
/pause_teleport_arrive.png
/pause_teleport_leave.png
/pause.png
/Text_pause1.png
/Text_pause2.png
/window_base_alpha.png
/window_base.png
/window_mask.png
/window_outline.png
/wire_left_mask.png
